In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
data = pd.read_csv("Campus Placement.csv")
data.head()

,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0

## Column Description

-   gender
-   ssc_p -> 10th class percentage
-   ssc_b -> 10th class board
-   hsc_p -> 12th class percentage
-   hsc_b -> 12th class board
-   hsc_s -> 12th class branch
-   degree_p -> undergraduate degree percentage
-   degree_t -> degree branch
-   workex -> work experience
-   etest_p -> Entrance test percentage
-   specialisation -> MBA branch
-   mba_p -> MBA percentage
-   status -> placement status
-   salary -> quoted salary

## Univariate Analysis

### Gender

gender
M    139
F     76
- The ratio between the category [Male,Female] is slightly imbalanced, because the difference betwee them is 63.

### ssc_p(10th percentage)

- **DIST PLOT**
> - The students with above 40 in their ssc score, are only given admission to the college.

- **MEAN AND MEDIAN PLOTING**
- According to the above graphs 
    - students scoring below the mean(67) are **less** when compared to students scoring above the mean(67)
- majority of the students scored above the mean(67)
> - The majority of the group are with good score students(:: 2nd graph, the are of the region between median and 75 percentile is significantly high) 
<br><br/>
> - The center value of the graph(x axis) is supposed to be the **mean, median, mode and peak** for a normal distribution graph but here the **mode and peak** are almost at the center but **mean and median** are drifted towards right, which means that the values are dense over the right side

min:           40.89
max:           89.4
center value:  65.14500000000001
mean:          67.30339534883721
median:        67.0
- The last point of the above cell is verified numerically
    - mean and median are almost the same and the center value is less than the mean

median:  67.0
mean:  67.30339534883721
- this is a indication that the values are directed towards a normal distribution
    - Because, the mean and median are almost same.

skewedness =  -0.13
kurtosis =  2.38
#### Norms for normal distribution
- skewedness = 0
- kurtosis = 3
#### Our graph result
- As -0.13 < 0, right skewed
- as 2.38 < 3, flat peak and thick tails

- **BOX PLOT**
    - As we already said, the graph seemed to be in normal distribution, so the are no outliers

### ssc_b(10th board)

ssc_b
Central    116
Others      99
- The ratio between the category is comparitively acceptable and balanced, because the difference betwee them is only 17

### hsc_p(12th percentage)

- **DISTPLOT**
> - The reason for the peak is the sudden spike values around 60 to 65

- **MEAN AND MEDIAN PLOTING**
    - The frequency around the peak seem to be high. i.e..around 55 to 77 
    - The standard deviation seem to be very high, let's check them numerically

std:  10.89750915750298
- For a normal distribution, within 3 standard deviations after the mean, the graph should get over. So, let's calculate them

99.02569026320663
97.7
- The values are under standard dstribution only

median:  65.0
mean:  66.33316279069768
- mean and median seem to have a slight difference, which indicates the absence of normal distribution

skewedness =  0.16
kurtosis =  3.41
### Norms for normal distribution
- skewedness = 0
- kurtosis = 3
### Our graph result
- As 0.16 > 0, left skewed (slightly).
- As 3.41 > 3, sharp peak and thin tails.

min:           37.0
max:           97.7
center value:  67.35
mean:          66.33316279069768
median:        65.0